.heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.container {
  flex-direction: row;
  column-gap: 40px;
}
.side_items {
  margin-top: 50px;
  flex-direction: column;
  width: 10%;
  border: none;
}
.img {
  overflow: hidden;
}
.imageZoom {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.imageZoom:hover {
  transform: scale(2);
}
.loram_content {
  font-size: 17px;
  margin: 20px;
  color: #777;
}
